@{
    Layout = "_Layout";

}
@using Microsoft.AspNetCore.Http
<div class="container body-content">

<h2> Dosen</h2>
<br>
<br>
<section class="blog_area">
            <div class="container">
                      @if(Context.Session.GetString("role") == "superadmin"){
             <p>
                    <a href="@Url.Action("Create", "Dosen")" class="btn btn-success">Tambah Dosen</a>
                </p>
                        }
                <div class="row">
<table class="table table-hover">
    <tr>
        <th>Nik</th>
        <th>Nama</th>
        <th>Id</th>
    </tr>
    @foreach(var data in Model){
    <tr>
        <td>@data.Nik</td>
        <td>@data.Nama</td>
        <td>@data.Username</td>
    </tr>
                    }
    }
</table> 
 </div>
            </div>
</section>
</div>
 @* @if(Context.Session.GetString("role") == "superadmin"){
                            <td style="vertical-align:middle"> @Html.ActionLink("Edit", "Edit", new { Nik = data.Nik }, 
                                new { @class = "btn btn-warning btn-round", @style = "color:white" })</td>
                                            <td style="vertical-align:middle">               
                                                @Html.ActionLink("Delete", "Delete", new { Nik = data.Nik }, 
                                                new { @class = "btn btn-danger btn-round", @style = "color:white"  })</td> *@