@{
    Layout = "_Layout";

}
@using Microsoft.AspNetCore.Http

<div class="container body-content">
    <br>
    <h2 style="text-align: center;"> Daftar Mahasiswa</h2>
    <br>
    <br>
    @Html.Raw(ViewBag.Pesan)
    <section class="blog_area">
        <div class="container" style="margin-bottom:50px">
                        @if(Context.Session.GetString("role") == "superadmin"){
             <p>
                    <a href="@Url.Action("Create", "Mahasiswa")" class="btn btn-success">Tambah Mahasiswa</a>
                </p>
                        }
            <div class="row">
                <table class="table table-hover">
                    <tr>
                        <th></th>
                        <th>NIM</th>
                        <th>Nama</th>
                        <th>Status</th>
                                                <th>No.HP</th>

                        <th>Angkatan</th>
                        @if(Context.Session.GetString("role") != "dosen"){
                        <th>Wali</th>
                    }
                    @if(Context.Session.GetString("role") == "superadmin"){
                        <th></th>
                    }
                        <th></th>
                        <th></th>
                    </tr>
                    @foreach (var data in Model)
                    {
                        if(data.Wali == Context.Session.GetString("user") || Context.Session.GetString("user") == "superadmin")
                        {
                        var src = "/Images/" + data.Nim + ".jpg";
                        <tr>
                            <td><img src="@src" class="rounded-circle" style="height:50px;width:50px" /></td>
                            <td style="vertical-align:middle">@data.Nim</td>
                            <td style="vertical-align:middle">@data.Nama_mhs</td>
                            <td style="vertical-align:middle">@data.Status</td>
                                                        <td style="vertical-align:middle">@data.No_hp_mhs</td>

                             <td style="vertical-align:middle">@data.Angkatan</td>
                             @if(Context.Session.GetString("role") != "dosen"){

                            <td style="vertical-align:middle">@data.Wali</td>
                             }
                             @if(Context.Session.GetString("role") == "superadmin"){
                            <td style="vertical-align:middle"> @Html.ActionLink("Edit", "Edit", new { nim = data.Nim }, new { @class = "btn btn-warning btn-round", @style = "color:white" })</td>
                                            <td style="vertical-align:middle">               @Html.ActionLink("Delete", "Delete", new { nim = data.Nim }, new { @class = "btn btn-danger btn-round", @style = "color:white"  })</td>

                    }
                            <td style="vertical-align:middle"> @Html.ActionLink("Lihat Nilai", "Nilai", new { id = data.Nim }, new { @class = "btn btn-warning btn-round", @style = "color:white" })</td>
                            <td style="vertical-align:middle"> @Html.ActionLink("Lihat Catatan", "CatatanMahasiswa", "Jadwal", new { nim = data.Nim, nama = data.Nama_mhs }, new { @class = "btn btn-primary btn-round" })</td>
                        </tr>
                        }
                    }
                </table>
            </div>
        </div>
    </section>
</div>  
