@model SistemPerwalian2020.Models.Krs

@{
    Layout = "_Layout";

}
@using Microsoft.AspNetCore.Http

<div class="container body-content">
    <br>
    <h2>@Model.Nim</h2>
    <h2>Semester : @Model.Semester</h2>
    <br>
    <br>
    @Html.Raw(ViewBag.Pesan)

    <section class="blog_area">
        <div class="container">
            <div class="col-md-12">
                <table id="tabeldetail" class="table table-hover">
                    <tr>
                        <th>Kode Mata Kuliah</th>
                        <th>Nama Mata Kuliah</th>
                        <th>SKS</th>
                        <th>Harga</th>
                        <th>Grup</th>
                        <th>Jadwal dan Ruangan</th>
                        <th>Dosen</th>
                        <th></th>
                    </tr>
                    @foreach (var data in Model.detail)
                    {
                        <tr>
                            <td>
                                @data.Kode_Matkul
                                <input class="kodemakul" type="hidden" value="@data.Kode_Matkul" />
                            </td>
                            <td>
                                @data.Nama_Makul
                                <input class="namamakul" type="hidden" value="@data.Nama_Makul" />
                            </td>
                            <td>
                                @data.SKS
                                <input class="sksmakul" type="hidden" value="@data.SKS" />
                            </td>
                            <td>
                                @data.Harga
                                <input class="hargamakul" type="hidden" value="@data.Harga" />
                            </td>
                            <td>
                                @data.Grup
                                <input class="grupmakul" type="hidden" value="@data.Grup" />
                            </td>
                            <td>
                                @data.Jadwal Sesi @data.Sesi - @data.Ruangan
                                <input class="jadwalmakul" type="hidden" value="@data.Jadwal" />
                                <input class="sesimakul" type="hidden" value="@data.Sesi" />
                                <input class="ruanganmakul" type="hidden" value="@data.Ruangan" />

                            </td>
                            <td>
                                @data.Nama
                                <input class="dosenmakul" type="hidden" value="@data.Nama" />
                            </td>
                            <td>@Html.ActionLink("Hapus", "DeleteMakul", "Krs", new { id = Model.Id_krs, kode = data.id }, htmlAttributes: new { @class = "BtnRemove btn btn-danger btn-sm pull-right" })</td>
                        </tr>

                    }



                </table>
                <div>
                    @{
                        var semester = @Context.Session.GetString("semester");
                    }
                    <input type="hidden" id="hiddenid" asp-for="@Model.Id_krs" value="@Model.Id_krs" />
                    <input type="hidden" id="hiddensemester" value="@semester" />
                </div>
                <div class="form-group">
                    <input type='button' id='btntambahmakul' value='Tambah Makul' class='BtnTambah btn btn-success btn-sm' />
                </div> 
                <hr>
                <div class="form-group" style="text-align:center;">
                    @Html.ActionLink("Simpan", "Index", "Krs", new { nim = Model.Nim }, htmlAttributes: new { @class = "btn btn-primary" })
                </div>
            </div>
        </div>
    </section>

    <div class="modal fade" id="modalmakul">
        <div class="modal-dialog" style="max-width: 800px !important;">
            <div class="modal-content" style="width:800px">
                <div class="modal-header">
                    <a href="#" class="close" data-dismiss="modal">&times;</a>
                </div>
                <div class="modal-body" id="modalmakulbody">


                </div>
            </div>
        </div>

    </div>
</div>

@section Scripts{
    <script type="text/javascript">

        $(document).ready(function () {

            selectmakul = function (id) {
                $.ajax({
                    type: 'POST',
                    url: '/Krs/AddMakul',
                    data: { kode : id, id_krs : $('#hiddenid').val() },
                    dataType: 'json',
                    success: function (data) {

                        window.location.href = data.url;
                    },
                    error: function (error) {
                       alert(error.statusText);
                    }
                });
            }

            $('#btntambahmakul').click(function () {
                var url = "/Krs/IndexMakul/?semester=" + $("#hiddensemester").val() + "&kode=" + $('#hiddenid').val();

                $("#modalmakulbody").load(url, function () {
                    $("#modalmakul").modal("show");
                })
            });

            $('#tabeldetail').on('click', '.BtnRemove', function (e) {

                e.preventDefault();
                $(this).parents('tr').remove();
                $.ajax({

                    url: $(this).attr("href"), // comma here instead of semicolon   
                    success: function () {
                       alert('data makul berhasil dihapus')

                    }
                });
            });
        });
    </script>
}
