@model SistemPerwalian2020.Models.Krs

@{
    Layout = "_Layout";

}
<div class="container body-content">
    <br>
    <h2>@Model.Nim</h2>
    <h2>Semester : @Model.Semester</h2>
    <br>
    <br>
    @Html.Raw(ViewBag.Pesan)

    <section class="blog_area">
        <div class="container">
            <div class="row">
                <table id="tabeldetail" class="table table-hover">
                    <tr>
                        <th>Kode Mata Kuliah</th>
                        <th>Nama Mata Kuliah</th>
                        <th>SKS</th>
                        <th></th>
                    </tr>
                    @foreach (var data in Model.detail)
                    {
                        <tr>
                            <td>
                                @data.Kode_Matkul
                                <input class="kodemakul" type="hidden" value="@data.Kode_Matkul" />
                            </td>
                            <td>
                                @data.Nama_Makul
                                <input class="namamakul" type="hidden" value="@data.Nama_Makul" />
                            </td>
                            <td>
                                @data.SKS
                                <input class="sksmakul" type="hidden" value="@data.SKS" />
                            </td>
                            <td>@Html.ActionLink("Hapus", "DeleteMakul", "Krs", new { id = Model.Id_krs, kode = data.Kode_Matkul }, htmlAttributes: new { @class = "BtnRemove btn btn-danger btn-xs pull-right" })</td>
                        </tr>

                    }



                </table>
                <div>
                    <input type="hidden" id="hiddenid" asp-for="@Model.Id_krs" value="@Model.Id_krs" />

                </div>
                <div class="row">
                    <div class="col-md-6">
                        <input type='button' id='btntambahmakul' value='Tambah Makul' class='BtnTambah btn btn-success btn-sm pull-left' />
                    </div>
                    <div class="col-md-6">
                        <input type="button" id="btnsimpan" value="Simpan" class="btn btn-primary" />
                    </div>
                </div>
                <br />
                <br />
                <br />
            </div>
        </div>
    </section>

    <div class="modal fade" id="modalmakul">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <a href="#" class="close" data-dismiss="modal">&times;</a>
                </div>
                <div class="modal-body" id="modalmakulbody">


                </div>


            </div>

        </div>

    </div>
</div>

@section Scripts{
    <script type="text/javascript">

        $(document).ready(function () {

            selectmakul = function (kode, nama, sks) {
                $('#tabeldetail > tbody:last-child').append("<tr><td>" + kode + "<input class='kodemakul' type='hidden' value='" + kode + "' /></td><td>" + nama + "<input class='namamakul' type='hidden' value='" + nama + "' /></td><td>" + sks + "<input class='sksmakul' type='hidden' value='" + sks + "' /></td><td><input type='button' id='deletemakul' value='Hapus' class='BtnRemove btn btn-danger btn-xs pull-right' /></td></tr>")

                $("#modalmakul").modal("hide");

            }

            $('#btntambahmakul').click(function () {
                var url = "/Krs/IndexMakul"

                $("#modalmakulbody").load(url, function () {
                    $("#modalmakul").modal("show");
                })
            });

            $('#tabeldetail').on('click', '.BtnRemove', function (e) {

                e.preventDefault();
                $(this).parents('tr').remove();
                $.ajax({

                    url: $(this).attr("href"), // comma here instead of semicolon   
                    success: function () {
                       alert('data makul berhasil dihapus')

                    }

                });

            });

            $('#btnsimpan').click(function () {
                var listmakul = [];
                $('#tabeldetail tbody tr').each(function (index, ele) {
                    var makulitem = {
                        Id_krs: $('#hiddenid').val(),
                        Kode_Matkul: $('.kodemakul', this).val(),
                        Nama_Makul: $('.namamakul', this).val(),
                        SKS: parseInt($('.sksmakul', this).val())
                    };
                    if (makulitem.Kode_Matkul !== undefined) {
                        listmakul.push(makulitem);
                    }
                });

                $.ajax({
                    type: 'POST',
                    url: '/Krs/SaveKrs',
                    data: { det : listmakul },
                    dataType: 'json',
                    success: function (data) {

                        window.location.href = data.url;
                    },
                    error: function (error) {
                       alert(error.statusText);
                    }
                });
            });

        });
    </script>
}
