@model IList<SistemPerwalian2020.Models.MakulViewModel>
@using Microsoft.AspNetCore.Http


<div class="container">
    <div class="row">
        <table class="table table-hover">
            <tr>
                <th>Kode Makul</th>
                <th>Nama Makul</th>
                <th>SKS</th>
                <th>Harga</th>
                <th>Grup</th>
                <th>Jadwal dan Ruangan</th>
                <th>Dosen</th>
                <th></th>
            </tr>
            @foreach (var data in Model)
            {
                <tr>
                    <td>@data.Kode_Matkul</td>
                    <td>@data.Nama_Makul</td>
                    <td>@data.SKS</td>
                    <td>@data.Harga</td>
                    <td>@data.Grup</td>
                    <td>@data.Jadwal Sesi @data.Sesi - @data.Ruangan</td>
                    <td>@data.Nama</td>
                    <td> <a class="DefaultEditBtn btn btn-success btn-sm" onclick="selectmakul('@data.id')"><span style="color:white">Pilih</span></a></td>
                </tr>
                
            }
        </table>
    </div>
</div>
