@model SistemPerwalian2020.Models.Krs
@using Microsoft.AspNetCore.Http

@{
    Layout = "_Layout";

}
<div class="container body-content" style="padding-bottom: 100px;">
    <br>
    <h2>@Model.Nim @Model.Nama</h2>
    <h2>Semester : @Model.Semester | Periode : @Model.Periode</h2>
    <br>
    <br>
    @Html.Raw(ViewBag.Pesan)

    <section class="blog_area">
        <div class="container" style="margin-bottom: 50px;">
            <div class="row">
                <table class="table table-hover">
                    <tr>
                        <th>Kode Mata Kuliah</th>
                        <th>Nama Mata Kuliah</th>
                        <th>SKS</th>
                        <th>Harga</th>
                        <th>Grup</th>
                        <th>Jadwal dan Ruangan</th>
                        <th>Dosen</th>
                    </tr>
                    @foreach (var data in Model.detail)
                    {
                        <tr>
                            <td>@data.Kode_Matkul</td>
                            <td>@data.Nama_Makul</td>
                            <td>@data.SKS</td>
                            <td>@data.Harga</td>
                            <td>@data.Grup</td>
                            <td>@data.Jadwal Sesi @data.Sesi - @data.Ruangan</td>
                            <td>@data.Nama</td>
                        </tr>
                    }


                </table>
            </div>
            @if (@Context.Session.GetString("role") == "mahasiswa")
            {
                <div class="form-group">
                    @Html.ActionLink("Ubah data KRS", "EditKrs", new { nim = @Model.Nim, periode = @Model.Periode, semester
                    = @Model.Semester }, new { @class = "btn btn-warning btn-sm", @style = "color:white" })
                </div>
            }
        </div>
    </section>
</div>