@model IList<SistemPerwalian2020.Models.CatatanPerwalian>
@{
    Layout = "_Layout";

}
@{
    var datenow = DateTime.Now;
}
<div class="container body-content" style="padding-bottom: 100px;">
    <br>
    <h2 style="text-align: center;"> Catatan Perwalian Prodi <span style="color: #49b265;"> @ViewBag.prodi</span> Angkatan<span style="color: #49b265;"> @ViewBag.angkatan</span> </h2>
   <h3 style="color: #49b265;text-align: center;">@ViewBag.waktu.ToString("dd MMMM yyyy")</h3>
    <br>
    <br>
    <form asp-action="UpdateCatatan">

        <section class="blog_area">
            <div class="container">
                <div class="row">

                    <table class="table table-hover">
                        <tr>
                            <th>Nim</th>
                            <th>Nama Mahasiswa</th>
                            <th>Waktu</th>
                            <th>Catatan</th>

                        </tr>
                        @for (int i = 0; i < Model.Count; i++)
                        {
                            var date = Model[i].Waktu;
                            DateTime datenull = DateTime.MinValue;
                            var months = Math.Abs((datenow.Month - date.Month) + 12 * (datenow.Year - date.Year));
                           
                            <tr>
                                <td asp-for="@Model[i].Nim" name="Nim">
                                    @Model[i].Nim
                                    <input type="hidden" asp-for="@Model[i].Nim" value="@Model[i].Nim" />
                                    <input type="hidden" asp-for="@Model[i].Kode_jadwal" value="@Model[i].Kode_jadwal" />

                                </td>
                                <td asp-for="@Model[i].Nama_mhs" name="Nama_mhs">
                                    @Model[i].Nama_mhs
                                    <input type="hidden" asp-for="@Model[i].Nama_mhs" value="@Model[i].Nama_mhs" />
                                </td>

                                <td asp-for="@Model[i].Waktu" name="Waktu">
                                    @if (Model[i].Waktu == datenull)
                                    {
                                        <span>-</span>
                                    }
                                    else
                                    {
                                        @Html.DisplayFor(x => Model[i].Waktu)

                                    }
                                </td>
                                <td>
                                    @if(Model[i].Waktu != datenull && months > 1)
                                    {
                                        @Html.DisplayFor(x => Model[i].Catatan)

                                    }
                                    else {

                                    
                                    <input asp-for="@Model[i].Catatan" type="text" class="form-control" />
                                }
                                </td>

                            </tr>
                        }
                    </table>
                </div>
                <div class="row pull-right">
                    <input type="submit" value="Simpan" class="btn btn-primary" />
                </div>
            </div>
        </section>
    </form>
</div>
