@model IEnumerable<SistemPerwalian2020.Models.Jadwal>
@using Microsoft.AspNetCore.Http

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container body-content">
    <br>
    <h2> Daftar Jadwal</h2>
    <br>
    <br>
    @Html.Raw(ViewBag.Pesan)

    <section class="blog_area">
        <div class="container" style="margin-bottom:100px">
            @if (@Context.Session.GetString("role") == "dosen")
            {
                <p>
                    <a href="@Url.Action("Create", "Jadwal")" class="btn btn-success">Tambah Jadwal</a>
                </p>
            }
            <div class="row">
                <table class="table">
                    <thead>
                        <tr>
                            <th>
                                @Html.DisplayNameFor(model => model.Periode)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.Prodi)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.Grup)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.Waktu)
                            </th>
                            @if (@Context.Session.GetString("role") == "dosen")
                            {
                                <th></th>
                                <th></th>
                                <th></th>
                            }
                            
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in Model)
                        {
                            if(item.Grup == Context.Session.GetString("grup") || Context.Session.GetString("grup") == null)
                        {
                            <tr>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Periode)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Prodi)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Grup)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Waktu)
                                </td>
                                @if (@Context.Session.GetString("role") == "dosen")
                                {
                                    <td>
                                        @Html.ActionLink("Edit", "Edit", new { id = item.Kode_jadwal }, new { @class = "btn btn-warning btn-sm" }) |
                                        @Html.ActionLink("Delete", "Delete", new { id = item.Kode_jadwal }, new { @class = "btn btn-danger btn-sm" })

                                    </td>

                                    <td> @Html.ActionLink("Presensi", "Presensi", new { id = item.Kode_jadwal, grup = item.Grup }, new { @class = "btn btn-primary btn-sm" })</td>
                                    <td> @Html.ActionLink("Catatan", "Catatan", new { id = item.Kode_jadwal, grup = item.Grup }, new { @class = "btn btn-success btn-sm" })</td>
                                }
                               
                            </tr>
                        }
                        }
                    </tbody>
                </table>
            </div>
        </div>
    </section>
   
</div>